.login-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

.login-success-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-success-container p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
